p.caption {
  color: #777;
  margin-top: 10px;
}
p {
  font-size: 12px
}
p code {
  white-space: inherit;
    font-size: 10px
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
  font-size: 13px
}

ul li{
  font-size: 13px
}


h1{
  font-size: 25px
}

h2{
  font-size: 20px
}

h3{
  font-size: 18px
}
